body{
    background-color: #1f2833;
}


h1 { 
    font-family: "Open Sans"; font-size: 45px; font-style: normal;
    color: #ffffff;   
}
h2 {
    color : #ffffff;
    font-family: "Open Sans"; font-style: normal;
}

h4{
    color: aliceblue;
    font-family: "Open Sans"; font-style: normal;
}
h5{
    color: aliceblue;
    font-family: "Open Sans"; font-style: normal;
}
p {
    color: #ffffff;
    font-family: "Open Sans"; font-style: normal;
}

@media only screen and (min-width:760px){
    /*Navigation*/
    .navbar{
        display: block;
        position: fixed;
        top: -2%;
        padding-top: 2%;
        overflow: auto;
        width: 100%;
        font-family: "Courier New", Courier, monospace;
        background-color: #1f2833;
    }


    .navbar img{
        position: fixed;
        float: left;
        width: 250px;
    }

    .navbar-main a{
        float:right;
        padding: 1%;
        width: 12%;
        text-align: center;
        margin-top: 38px;
        margin-right: 0.5%;
        margin-bottom: 2.45%;
        font-size: 90%;
        color: #66fcf1;
        text-decoration: none;
  

    }
    .navbar a:hover{
        border: 1px solid white;
    }
}
@media only screen  and (max-width : 760px){
    body{ 
    }
    .navbar img{
        position: fixed;
        float: left;
        width: 250px;
    }
    .navbar-main a{
        
    }
    
}
/*Home*/
.Home{
    margin-top: 10%;
}
.Home h1{
    margin-left :7%;
}
.Home p{
    margin-left: 7%;
}
.Home-top h2{
    margin-left: 7%;
}
.Home-bottom{
    width: 100%;
    margin-top: 3%;
    padding-bottom:10%;
    padding-left: 7%;
    padding-top: 1%;
    background-color: #45a29e;
}  
.Home-top img{
    float: right;
    width:500px;
    padding:3%;
    padding-right: 6%;
    padding-left 10%;
    padding-top: 3%;
}

/*Profiles*/
.Profiles { 
    margin-top: 10%
}

.head{
    text-align: center
}
.profile{
    padding: 1%;
    padding-top:2%;
    margin-left: .5%;
    margin-right: .5%;
    background-color: #45a29e;
    text-align: center;
}
.Profiles img{
    width: 300px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    background-color: #45a29e;
}

.row1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*Contact Page*/
.Contact{
    margin-top: 10%;
}
.Contact-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.Contact a{
    padding: 3%;
}
.Contact a:hover{
}
.Contact img{
    width: 280px;
}

.Contact-eandp {
    text-align: center;
    font-size: 150%;
    background-color: #45a29e;
    padding: 1%;
    margin-top: 4%;
    
}
/*Courses*/
.Courses{
    margin-top: 10%;
}
.Courses h1{
    margin-left :7%;
}
.Courses p{
    margin-left: 7%;
}
.Courses-top h2{
    margin-left: 7%;
}
.Courses-bottom{
    width: 100%;
    margin-top: 3%;
    padding-bottom:10%;
    padding-top: 1%;
    background-color: #45a29e;
}  
.Courses-bottom h2{
    padding-left: 7%;
}
.Courses-top img{
    float: right;
    width:500px;
    padding:3%;
    padding-right: 6%;
    padding-left 10%;
    padding-top: 3%;
}

.Courses-link{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Courses-link img{
    width: 300px;
    padding-right: 10%;
    padding-left: 10%;
    
}
}

